<template>
    <div class="table-responsive">
        <h2 id="keycloak-config-page-heading" v-text="$t('keycloakconfig.title')">Keycloak Configuration</h2>
        <div v-if="kcconfigs">
            <table class="table table-lg table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th v-text="$t('keycloakconfig.table.colnames.name')">Name</th>
                        <th v-text="$t('keycloakconfig.table.colnames.status')">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-bind:id = "kcconfig.id"
                        v-for="kcconfig in orderBy(kcconfigs)" :key="kcconfig.id">
                            <td v-text="$t(getDynamicTranslation(kcconfig))" class="w-60">{{ kcconfig.title }}"</td>
                            <td>
                                <button
                                    v-if="kcconfig.status == true"
                                    v-text="$t('keycloakconfig.table.rowvalues.true')"
                                    v-on:click="changeValue(kcconfig.id, kcconfig.status)"
                                    v-bind:class="insertBasicButtonStyle()" class="bg-success">
                                    True
                                </button>
                                <button
                                    v-else
                                    v-text="$t('keycloakconfig.table.rowvalues.false')"
                                    v-on:click="changeValue(kcconfig.id, kcconfig.status)"
                                    v-bind:class="insertBasicButtonStyle()" class="bg-danger">
                                </button>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script lang="ts" src="./keycloakconfig.component.ts">
</script>