<template>
    <div class="home row">
        <div class="col-md-3">
            <span class="hipster img-fluid rounded"></span>
        </div>
        <div class="col-md-9">
            <h1 class="display-4" v-text="$t('home.title')">Agitelier</h1>
            <p class="lead" v-text="$t('home.subtitle')">Vos ateliers agiles en ligne</p>

            <div>
                <div class="alert alert-success" v-if="authenticated">
                    <span v-if="username" v-text="$t('home.logged.message', { 'username': username})">You are logged in as user "{{username}}"</span>
                </div>

                <!--<div class="alert alert-warning" v-if="!authenticated">
                    <button class="alert-link" size="lg" v-on:click="openLogin()" v-text="$t('global.messages.info.authenticated.link')">sign in</button>
                </div>-->
            </div>

            <ul>
              <li v-if="authenticated"><a href="/gateway/coursgroupes/coursgroupes/agitelier/teacher" v-text="$t('global.Access_your_courses')">Access your courses</a></li>
              <li v-if="hasAnyAuthority('ROLE_ADMIN')"><a href="/gateway/coursgroupes/coursgroupes/agitelier/student" v-text="$t('global.Manage_your_courses')">Manage your courses</a></li>
            </ul>

            <p v-text="$t('home.question')">
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener" v-text="$t('home.link.homepage')">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" v-text="$t('home.link.stackoverflow')">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" v-text="$t('home.link.bugtracker')">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" v-text="$t('home.link.chat')">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener" v-text="$t('home.link.follow')">follow @jhipster on Twitter</a></li>
            </ul>

            <p>
                <span v-text="$t('home.like')">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" v-text="$t('home.github')">GitHub</a>!
            </p>
        </div>
    </div>
</template>

<script lang="ts" src="./home.component.ts">
</script>
